html, body {
    margin: 0;
    padding: 0;
    /* background-color: black; */
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

h1 {

}

#wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
    grid-template-areas: 
    "room"
    "bar";
}

#room {
    grid-area: room;
    height: 100%;
    width: auto;
    background-image: url("img/background-h600.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

@media (max-height: 1000px) {
    #room {
        background-image: url("img/background-h1000.jpg");
    }
}

@media (max-height: 1200px) {
    #room {
        background-image: url("img/background-h1200.jpg");
    }
}

@media (max-height: 1500px) {
    #room {
        background-image: url("img/background-h1500.jpg");
    }
}

#alice-container {
    height: 100vh;
    width: 100vw;
    /* position: relative  ;
    top: 30%; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    object-fit: contain;
}

.alice-s {
    height: 30vh;
    width: 80vw;
    background-image: url("img/alice-s.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-sizing: border-box;
    object-fit: contain;
    position: relative;
    top: 100px;
}

.alice-m {
    height: 50vh;
    width: 80vw;
    background-image: url("img/alice-m.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-sizing: border-box;
    object-fit: contain;
}

.alice-l {
    height: 75vh;
    width: 80vw;
    background-image: url("img/alice-l.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-sizing: border-box;
    object-fit: contain;
}

#bar {
    grid-area: bar;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.drinks-flex {
    width: 30vw;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.drinks {
    height: 100%;
    width: auto;
    padding: 10px;
    box-sizing: border-box;
    object-fit: contain;
}

/* shake code by Sarah Drasner
https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */

.drinks:hover {
    cursor: pointer;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {
    10%, 90% {
        transform: translateX(-1px);
    }
    20%, 80% {
        transform: translateX(2px);
    }
    30%, 50%, 70% {
        transform: translateX(-4px);
    }
    40%, 60% {
        transform: translateX(4px);
    }
}